<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/3-common.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/3-footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/3-header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/6-filters.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/icon.ico') }}"
    />
    <title>Airbnb clone</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
        <!-- Container 'locations' header section for states and cities title -->
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <!-- Popover is container for the scroll section to display states and cities -->
          <ul class="popover">
            {% for state in states %}
            <li>
              <h2>{{ state.name }}</h2>
                {% for city in state.cities|sort(attribute='name') %}
                <li class="list-text">{{ city.name }}</li>
                {% endfor %}
            </li>
            {% endfor %}
          </ul>
          <!-- End popover container -->
        </div>
        <!-- End locations container div -->
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            {% for amenity in amenities|sort(attribute='name') %}
            <li class="list-text">{{ amenity.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <button class="search-button">Search</button>
      </section>
    </div>
    <footer>Holberton School</footer>
  </body>
</html>
